:root {
  --color-white:#ffffff;
  --color-regentGreen:#3b5156;
  --color-blueNova:#5B6D93;
  --color-topaz:#C06A47;
  --color-honeybee:#EED99A;
  --color-antiquePewter:#8C8A7B;
  --color-pristine:#EFE2D2;
  --gabe-black: #1B2021;
  --gabe-black-alpha: rgb(27 32 33 / 80%);
  --gabe-white: #FFFFFF;
  --gabe-gray: #364042;
  --gabe-darkred: #240000;
  --gabe-teal: #235965;
  --gabe-pink: #FF69B4;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-regentGreen);
  font-family: "poppins", sans-serif;
}
html, body {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
body.home {
  background-color: var(--gabe-gray);
}
a {
  color:var(--color-blueNova);
}
a:hover {
  color:var(--gabe-pink);
}
hr {
  border:1px solid var(--color-pristine);
  margin: 0;
}
header {
  padding: 1rem 0 0;
  width: 75rem;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
}

/* Navigation */

.navbar__home {
  display: flex;
  justify-content: flex-end;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
#menu__toggle, .menu__btn {
  display: none;
} 
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background-color: var(--color-white);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: var(--color-white);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: relative;
  top: 16px;
  left: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 4;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--gabe-white);
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--gabe-black-alpha);
  transition-duration: .25s;
  z-index:3;
  justify-content: center;
  flex-direction: column;
}
.menu__box ul {
  list-style: none;
  padding:0;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  text-align: center;
  transition-duration: .25s;
  margin: 24px;
}
.menu__text {
  color: var(--gabe-white);
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  text-decoration: none;
}
.menu__text:hover {
  color:var(--gabe-pink);
}
.logo__link {
  margin-top: .4rem;
}
.nav__links {
  display: flex;
  margin-top: 0.625rem;
  margin-bottom: 0;
  padding-inline-start: 0;
}
ul.nav__links li {
  list-style-type: none;
}
ul.nav__links li a {
  text-decoration: none;
  margin: 0 .75rem;
  font-size: 1.4rem;
  font-family: "mono45-headline", monospace;
  font-weight: 500;
  font-style: normal;
  color: var(--color-regentGreen);
}
ul.nav__links li a:hover, ul.nav__links li a:active {
  color: var(--color-topaz);
}

/* Homepage Styles */

.home .logo__link svg {
  display: none;
}
.hero__wrapper {
  width: 100%;
  height:80vh;
  display: flex;
}
.hero__wrapper img {
  object-fit: contain;
  width: 100%;
  height: auto;
  position: absolute;
  z-index:-1;
}
.hero__container {
  width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-self: flex-end;
  padding: 0 2rem 3rem;
}
.hero__container p {
  color: var(--gabe-white);
}
.content-wrapper {
  width: 100%;
  background-color: white;
  padding: 1rem 0;
}
.content__container--small {
  width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.histatement {
  margin-bottom: 0;
  font-size: .75rem;
  text-transform: uppercase;
}

/* Homeapage Case Study Section */

.folioList {
  padding: 1.5rem 0;
  background-color: var(--color-blueNova);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.folioTitle {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  color: var(--color-regentGreen);
}
.folioTitle h2 {
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  letter-spacing: .5rem;
  color:var(--color-white);
  font-family: "mono45-headline", monospace;
  font-weight: 500;
  font-style: normal;
}
.caseStudyPanel {
  background-color: white;
  border-radius: .5rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 20%);
  transition: box-shadow 0.2s ease;
}
.caseStudyPanel:hover {
  box-shadow: 4px 4px 12px rgb(0 0 0 / 40%);
}

.caseStudyImage {
  width: 30rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 1rem;
}
.caseStudyImage img {
  border-radius: 0.25rem;
}
.caseStudyTextSpace {
  width: 26rem;
  margin: 1rem;
}
.caseStudyProject {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 0;
  font-family: "mono45-headline", monospace;
  font-weight: 500;
  font-style: normal;
}
.caseStudyTextSpace h3 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.125rem;
  color:var(--color-blueNova);
}
.subtitle {
  font-size: 1.125rem;
  line-height: 1.6rem;
  margin-top: 0;
  color:var(--color-regentGreen);
}
.caseStudyView, .caseStudyInDev {
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 600;
}
.caseStudyInDev {
  opacity: .5;
}
a.CSView {
  text-decoration: none;
  color: var(--color-regentGreen);
}
a.CSView:hover {
  color: var(--color-topaz);
}
.caseStudyView svg {
  margin-bottom: .0625rem;
  margin-left: .125rem;
}
footer {
  background-color: white;
  width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem 1.75rem;
}
footer .content__container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footerCredit {
  font-size: 0.875rem;
}
.footerLinks {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}
.footerLinks p {
  margin: 0;
}
.image__top {
  width:inherit;
}
.photo__credit {
    font-size: 0.75rem;
}
.about__intro {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
@media (max-width: 479px) {
  #menu__toggle, .menu__btn {
    display: block;
  }
  .navbar, .navbar__home {
    justify-content: flex-start;
  }
  .logo__link {
    margin-left: 1.5rem;
  }
  .nav__links {
    display: none;
  }
  .content-wrapper__helloWorld {
    padding: 0 0 2rem;
  }
  .content__container, .content__container--small, .helloImage, .caseStudyImage, .caseStudyTextSpace {
    width: 100%;
  }
  .folioList {
    padding: 0;
  }
  .folioTitle h2 {
    letter-spacing: .375rem;
  }
  .caseStudyPanel {
    width: 80%;
    margin: 0 1rem 2rem;
  }
  .caseStudyImage img {
    width: 100%;
    height: auto;
  }
  .caseStudyTextSpace h3 {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 2rem;
  }
  .caseStudyView, .caseStudyInDev {
    margin-top: 1.75rem;
    font-size: .975rem;
  }
  footer {
    padding: 1rem 1rem 2rem;
    width: auto;
  }
  footer .content__container {
    justify-content: center;
  }
  .image__top, .about__intro, .about__text {
    margin-left:1rem;
    margin-right:1rem;
  }
}