<html>
<div class="footer__container">
    <div>
        <p class="footer__credit">Designed + Coded with &#9829; by Gabe Velez &#x2022; &#169;2024</p>
    </div>
    <div class="footer__links">
        <p><a class="company__link" href="https://www.linkedin.com/in/gabevelez/" rel="noopener" target="_blank">LinkedIn</a> &#x2022; <a class="company__link" href="https://twitter.com/gabevelez" rel="noopener" target="_blank">X</a> &#x2022; <a class="company__link" href="https://github.com/GabeVelez" rel="noopener" target="_blank">Github</a></p>
    </div>
</div>
</html>